<style>
  #selectedSkills>button {
    margin: 3px;
  }

  #selectedSkills>button{
    border-radius: 50px;
  }
</style>

<div class="container">
  <div class="card">
    <div class="card-header">
      Tìm kiếm nâng cao
    </div>
    <div class="card-body">
      <form>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" >
            <div class="form-group">
              <div class="input-group d-flex justify-content-center">
                <select id="inputGroupSelect" class="selectpicker" data-live-search="true">
                  <option>Tên kỹ năng</option>
                  {{#each kynang}}
                  <option data-tokens="{{this.ten}}" value="{{this.id}}">{{this.ten}}</option>
                  {{/each}}
                </select>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Trình độ</button>
                  <div class="dropdown-menu">
                    <button type="button" class="dropdown-item" onclick=addSkill(0)>Nghiệp dư</a>
                      <button type="button" class="dropdown-item" onclick=addSkill(1)>Có kinh nghiệm</a>
                        <button type="button" class="dropdown-item" onclick=addSkill(2)>Chuyên nghiệp</a>
                  </div>
                </div>
              </div>
            </div>
            <div id="selectedSkills"></div>
          </li>
          <li class="list-group-item d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Tìm kiếm tin tuyển dụng</button>
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>


<script>
  function addSkill(level) {
    var para = document.createElement("button");
    var text = document.querySelectorAll('[data-id=inputGroupSelect]');
    console.log(text[0].title);
    if (text[0].title != "Tên kỹ năng" || "") {
      var val = text[0].title;

      // chuẩn bị xóa khỏi danh sách skill
      var del = document.querySelector(`[data-tokens="${val}"]`);

      para.type = "button";
      para.className = "btn btn-primary btn-sm";

      if (level == 0)
        val = val + " / Nghiệp dư ";
      else if (level == 1)
        val = val + " / Có kinh nghiệm ";
      else
        val = val + " / Chuyên nghiệp ";

      para.innerHTML = val + "  " + "<i class='fas fa-times'></i>";
      document.getElementById("selectedSkills").appendChild(para);

      // xóa skill vừa được chọn ra khỏi danh sách

      del.parentNode.removeChild(del);
      $(".selectpicker").selectpicker("refresh");
    }
  }
</script>