<div class="container">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8 border border-secondary">
            <div class="float-right">
                <a type="button" class="btn btn-sm btn-success font-weight-bold" style="font-size: 20pt;"
                    href="/companies/{{id}}/post">+</a>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>